body {
  background: #000000;
  color: #FFFFFF;
  font-size: 16px;
}

#searchWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;

#searchList {
  //stuff...
}

//errrmmm, not sure what else to do here
}